nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    z-index: 10;
    display: grid;
    background: red;
    place-items: center;
    @include gradientBackground;
    box-shadow: 0 1rem 1rem rgba($black-color , 0.1);

    .container {
        background-color: white;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            gap: 3rem;
            align-items: center;
        }

        button {
            display: none;
        }

        a{
            color: $white-color;
            font-weight: 400;
            font-size: 0.9rem;
        }

        .nav__logo h3 {
            color: $white-color;
        }
    }
}

@media screen and (max-width: 1024px){
    nav {
        .container {
            button {
                display: inline-block;
                background: transparent;
                color: $white-color;
                font-size: 2rem;
                cursor: pointer;

                &#close__nav-btn {
                    display: none;
                }
            }

            ul {
                position: fixed;
                right: 5%;
                top: 5rem;
                background: red;
                flex-direction: column;
                align-items: flex-start;
                gap: 0;
                display: none;
                perspective: 300px;

                li {
                    width: 100%;
                    opacity: 0;
                    animation: flipNavitem 300ms ease forwards;
                    transform-origin: top;

                    li:nth-child(2) {
                        animation-delay: 200ms;
                    }

                    li:nth-child(3) {
                        animation-delay: 400ms;
                    }

                    li:nth-child(4) {
                        animation-delay: 600ms;
                    }

                    li:nth-child(5) {
                        animation-delay: 800ms;
                    }

                    @keyframes flipNavItem {
                        0% {
                            transform: rotateX(90deg);
                        }
                        100% {
                            transform: rotateX(0deg);
                            opacity: 1;

                        }
                    }

                    a {
                        color: $white-color;
                        height: 100%;
                        display: block;
                        padding: 1.5rem 2rem;
                        border-radius: 0;
                        background: linear-gradient($primary-color-variant, draken($primary-color-variant,12%));


                        &.btn {
                            background: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}